.headerButtons {
	display: flex;
	justify-content: center;
	gap: 2rem;
}

.headerButtons button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	text-decoration: underline;

	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.playersNumber {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.playersNumber h4 {
	font-size: 1.5rem;
	font-weight: 600;
}

.playersNumber ul {
	display: grid;
	gap: 0.5rem;
	grid-template-columns: repeat(10, 1fr);
	width: 100%;
}

.playersNumber ul li button {
	border: none;
	border-radius: 0.5rem;
	color: white;
	background-color: #da6506;
	font-size: 1.5rem;
	font-weight: 600;

	padding: 1rem;
	cursor: pointer;

	width: 100%;
}

.playersNumber ul li button:hover {
	background-color: #f7a440;
}

.playersNumber ul li button.active {
	background-color: #f7a440;
}

.mainButton {
	background-color: #027df7;
	border-radius: 8px;
	padding: 3rem 1rem;
	border: none;
	cursor: pointer;
	color: white;
	font-size: 1.5rem;
	font-weight: 600;
}

.mainButton:disabled {
	background-color: #b3b3b3;
	cursor: not-allowed;
}

.mainButton:hover::not(:disabled) {
	background-color: #1e7fc7;
}

.mainButton p {
	font-size: 1rem;
	font-weight: 400;
}

@media (max-width: 768px) {
	.mainButton {
		font-size: 1rem;
	}

	.mainButton p {
		font-size: 0.8rem;
	}
}

@media (max-width: 844px) {
	.playersNumber ul {
		grid-template-columns: repeat(5, 1fr);
	}
}
