.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	padding: 1rem;
	background-color: #fff;
	border-radius: 8px;
	flex: 1;
}

.title {
	font-size: 1.5rem;
	font-weight: 600;
}

.image {
	width: 250px;
	height: 250px;
	border-radius: 8px;
	overflow: hidden;
}

.description {
	font-size: 1rem;
}
